<app-navbar></app-navbar>
<div class="container mx-auto p-6 bg-fixed bg-center bg-cover" style="background-image: url('assets/images/3.png');">
<div class="container mx-auto p-4">
    <!-- Formulaire de Moto -->
    <div class="max-w-2xl mx-auto p-4 bg-white shadow-md rounded-lg mb-6">
      <form [formGroup]="addMotoForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
        <div class="mb-4">
          <label for="numero_serie" class="block text-gray-700">Numéro de série</label>
          <input type="text" id="numero_serie" formControlName="numero_serie" class="w-full p-2 border border-gray-300 rounded mt-1" />
        </div>
        <div class="mb-4">
          <label for="color" class="block text-gray-700">Couleur</label>
          <input type="text" id="color" formControlName="color" class="w-full p-2 border border-gray-300 rounded mt-1" />
        </div>
        <div class="mb-4">
          <label for="date_achat" class="block text-gray-700">Date d'achat</label>
          <input type="date" id="date_achat" formControlName="date_achat" class="w-full p-2 border border-gray-300 rounded mt-1" />
        </div>
        <div class="mb-4">
          <label for="chauffeur" class="block text-gray-700">Chauffeur</label>
          <select id="chauffeur" formControlName="chauffeur" name="chauffeur" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-200 focus:border-blue-500" required>
            <option *ngFor="let chauffeur of chauffeurs" [value]="chauffeur.id">{{getUserChauffeurById(chauffeur.utilisteur)?.username}}</option>
          </select>
        </div>
        <div class="mb-4">
          <label for="image" class="block text-gray-700">Image</label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="image" name="image" type="file" (change)="onFileChange($event)">
        </div>
        <div class="mb-4">
          <label for="created_by" class="block text-gray-700">Créé par</label>
          <select id="created_by" formControlName="created_by" name="created_by" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-200 focus:border-blue-500" required>
            <option *ngFor="let adminManag of adminManager" [value]="adminManag.id">{{ adminManag.username}}</option>
          </select>
        </div>
        <div class="mb-4">
          <label for="modified_by" class="block text-gray-700">Modifié par</label>
          <select id="modified_by" formControlName="modified_by" name="modified_by" class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-blue-200 focus:border-blue-500" required>
            <option *ngFor="let adminManag of adminManager" [value]="adminManag.id">{{ adminManag.username}}</option>
          </select>
        </div>
        <div class="text-center">
          <button type="submit" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-700">
            {{ editingMoto ? 'Modifier' : 'Ajouter' }} Moto
          </button>
        </div>
      </form>
    </div>
  
    <!-- Liste des Motos -->
    <div class="grid grid-cols-1 gap-4 ">
      <div *ngFor="let moto of motos" class="bg-white p-4 rounded-lg shadow-md flex items-center">
        <img *ngIf="moto.image" [src]="moto.image" class="w-32 h-32 object-cover mr-4">
        <div class="flex-1">
          <h2 class="text-xl font-bold">{{ moto.numero_serie }}</h2>
          <p>Couleur: {{ moto.color }}</p>
          <p>Date d'achat: {{ moto.date_achat }}</p>
          <p>Chauffeur: {{ getUserChauffeurById(moto.chauffeur)?.username }}</p>
          <p>Créé par: {{ getUserChauffeurById(moto.created_by)?.username }}</p>
          <p>Modifié par: {{ getUserChauffeurById(moto.modified_by)?.username }}</p>
        </div>
        <div class="flex space-x-2">
          <button (click)="editMoto(moto)" class="bg-yellow-500 text-white p-2 rounded hover:bg-yellow-700">Modifier</button>
          <button (click)="deleteMoto(moto)" class="bg-red-500 text-white p-2 rounded hover:bg-red-700">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>
  